.App-logo {
  height: 30vmin;
}

.App-header {
  align-items: top;
  font-size: 20px;
  color: #F2003A;
  display: flex;
  border-bottom: 3px solid #F2003A;
  margin-bottom:  50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
}

.App-body {
  margin:  50px;
  min-height: 50vh;
  font-family: 'Poppins';
  font-size: 20px;
}

.email {
  font-family: 'Poppins';
  padding-right: 5px;
}

.password {
  margin-left: 10px;
  font-family: 'Poppins';
  padding-right: 5px;
}

.label-button {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: transparent;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.App-footer {
  border-top: 3px solid #F2003A;
  text-align: center;
  font-style: italic;
  font-size: 20;
  font-family: 'Poppins';
}

